.layout-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.layout-header {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(80px);
    padding: 10px;
    svg {
        cursor: pointer;
    }
}
.layout-route {
    flex: 1;
}